.title {
	color: white;
}
.heading {
	color: white;
	font-weight: bold;

}
.content {
	color: white;
}
.homilies-list {
	font-size: 3rem;
	padding-bottom: 2rem;
	list-style: none;
	justify-items: left;
}