body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
li {
  font-size: 55%;
}
  /* Ensuring navbar works well on mobile screens */
 @media (max-width: 767px) {
  img {
    height: 30rem; /* Center items on small screens */
  }

  .video {
    width: 325px;
    height: 225px;
  }
}
