body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }
  
  /* Ensuring navbar works well on mobile screens */
 @media (max-width: 767px) {
  img {
    height: 35rem; /* Center items on small screens */
  }
}