.page-title {
    color: rgb(255, 255, 255);
    font-size: xx-large;
}
.prayer-box {
    background-color: #b3c7f7;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center all child elements horizontally */
    justify-content: center; /* Align items to the top of the container */
    padding: 20px; /* Add padding around the container */
    margin: 10px;
    font-size: x-large;
    border-radius: 5px;
    min-width: 250px;
    min-height: 150px;
}

.prayers-page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.prayers-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.prayer-title {
    font-weight: bold;
    color:rgb(44, 47, 220);
}

.quote {
    font-size: larger;
}

@media screen and (max-width: 700px) {
    .prayer-box
    {
        padding: 5px;
        margin: 5px;
        font-size: 1.5rem;
        min-width: 145px;
        min-height: 100px;
    }
    .prayer-name {
        font-size: 1.5rem;
    }
}